body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 18vh 82vh;
}

ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
}

.logo {
    justify-self: center;
}

.logo > p {
    margin-top: 25px;
    margin-bottom: 0;
}

.sidebar {
    border: 1px solid red;
    grid-row: span 2;
    background-color: cornflowerblue;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    color: white;
}

.sidebar > .menu {
    grid-row: span 3;
    justify-self: center;
}

.sidebar > .settings {
    grid-row: span 2;
    justify-self: center;
}

.header {
    border: 1px solid blue;
    background-color: chartreuse;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.navigation1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
}

.navigation2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}

.option {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}

.profile1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}

.profile1 > .profile-pic {
    grid-row: span 2;
}



.main-content {
    border: 1px solid green;
    background-color: coral;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cards {
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.cards > p {
    grid-column: span 2;
    margin-left: 35px;
}

.card {
    height: 100px;
    width: 200px;
    border: 1px solid black;
    justify-self: center;
    align-self: center;
}

.annoucements {
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
}

.trending {
    display: grid;
    justify-content: start;
}


