body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

svg {
    height: 50px;
    width: 50px;
    fill: white;
}

.main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-family: Roboto, sans-serif;
}

.sidebar {
    background: cyan;
    grid-row: 1 / 6;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 200px;
    padding-left: 20px;
}

.sidebar1,
.sidebar2,
.sidebar3 {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.sidebar1 div,
.sidebar2 div,
.sidebar3 div {
    padding-left: 10px;
}

.sidebar2 {
    padding-bottom: 20px;
}

.sidebar3 {
    padding-top: 20px;
}


.header {
    background: rgb(227, 125, 227);
    grid-column: 2 / 6;
}

.main-content {
    background: rgb(159, 236, 43);
    grid-area: 2 / 2 / 6 / 6;
}