body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

svg {
    height: 50px;
    width: 50px;
    fill: white;
}

.main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-family: Roboto, sans-serif;
}

.sidebar {
    background: cyan;
    grid-row: 1 / 6;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 200px;
    padding-left: 20px;
}

.sidebar1,
.sidebar2,
.sidebar3 {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.sidebar1 div,
.sidebar2 div,
.sidebar3 div {
    padding-left: 10px;
}

.sidebar2 {
    padding-bottom: 20px;
}

.sidebar3 {
    padding-top: 20px;
}


.header {
    background: rgb(227, 125, 227);
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

.header svg {
    fill: black;
    height: 30px;
    width: 30px;
}

.header-top1,
.header-bot1 {
    grid-column: 1 / 4;
}

.header-top2,
.header-bot2 {
    grid-column: 4 / span 2;
}

.header-top1 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-self: center;
    gap: 10px;
}



.header-top1 svg {
    justify-self: end;
}

.search-bar {
    height: 20px;
    width: 90%;
    border: 1px solid rgb(236, 229, 229);
    background: rgb(236, 229, 229);
    border-radius: 10px;
}

.header-top2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    justify-self: center;
}

.header-bot1 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
}

.header-bot1 div {
    padding-left: 10px;
}

.header-bot1 svg{
    grid-row: 1 / span 2;
    justify-self: end;
}

.header-bot2 div {
    height: 40px;
    width: 80px;
    border: 1px solid rgb(19, 41, 185);
    background: rgb(19, 41, 185);
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    color: white;
}

.header-bot2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
}


.main-content {
    background: rgb(159, 236, 43);
    grid-area: 2 / 2 / 6 / 6;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(3, 200px);
    align-items: center;
    justify-content: center;
    gap: 10px 20px;
    padding-top: 10px;
}

.card {
    background: white;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border-left: 10px solid yellow;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    gap: 10px;
    padding-right: 10px;
}

.icons svg {
    height: 30px;
    width: 30px;
    fill: black;
}

.card p {
    margin: 0;
    align-self: center;
    padding-left: 10px;
    font-size: 14px;
}

.content-side {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 260px 260px;
    gap: 30px;
    align-self: center;
    padding-right: 30px;
}

.annoucements,
.trending {
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 15px;
}

.annoucements {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.annoucements p:nth-child(2) {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.annoucements p {
    font-size: 12px;
}

.trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    justify-self: start;
}

.user div {
    padding-left: 10px;
}

.user svg {
    fill: black;
    height: 30px;
    width: 30px;
    justify-self: end;
    border: 1px solid black;
    border-radius: 50%;
}

